<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bergeron.mandi.missionimpawssible">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activites.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activites.ChooseDeviceActivity"
                  android:label="choose_device"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Activites.GoogleSignInActivity"
            android:label="google_sign_in"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Activites.AccountCreationActivity"
                  android:label="account_creation"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Activites.CardInfoActivity"
                  android:label="card_info"
                  android:theme="@style/Theme.AppCompat"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Activites.DonationMethodActivity"
                  android:label="Donation Method"
                  android:theme="@style/Theme.AppCompat"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Activites.FitBitLoginActivity"
                  android:label="Fitbit Login Activity"
                  android:theme="@style/Theme.AppCompat"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Activites.ChooseYourChallengeActivity"
                  android:label="Choose Your Challenge Activity"
                  android:theme="@style/Theme.AppCompat"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Activites.InviteSponsorActivity"
                  android:label="Invite Sponsor"
                  android:theme="@style/Theme.AppCompat"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Activites.ChooseDonationActivity"
                  android:label="Choose Donation"
                  android:theme="@style/Theme.AppCompat"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Activites.StepTrackerActivity"
            android:label="Track Deez Steps"
            android:theme="@style/Theme.AppCompat"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>